/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.main-yellow{
	background: #FFEB3B;
	color: #1E1E1E;
}

.main-yellow__icon-social a {
	color: #1E1E1E;
}

.main-yellow__icon-social a svg path{
	fill: #1E1E1E;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}